@page "/"
@using System.Collections.Specialized
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

@section scripts {
    <script>
        console.log("Cheeps count: " + @Model.CheepsCount);
        const ct = Math.ceil(@Model.CheepsCount / 32);

        const lastPageButton = document.querySelector(".last-page")

        lastPageButton.addEventListener("click", () => {
            document.location = "?page=" + ct;
        })
    </script>
}
