@page "/"
@using Chirp.Core
@model Chirp.Web.Pages.PublicModel
@inject SignInManager<Author> SignInManager
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>
    <partial name="_PostPartial"/>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <div class="cheep-content">
                        <div class="header-line">
                            <strong>
                                <a href="/Users/@cheep.AuthorName">@cheep.AuthorName</a>
                            </strong>
                            @if (SignInManager.IsSignedIn(User) && User.Identity!.Name! != cheep.AuthorName)
                            {
                                @if (!Model.Following.Contains(cheep.AuthorName))
                                {
                                    <form method="post" class="follow-form">
                                        <button class="follow-button" asp-page-handler="Follow" name="AuthorName"
                                                value="@cheep.AuthorName">Follow
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" class="follow-form">
                                        <button class="follow-button" asp-page-handler="Unfollow" name="AuthorName"
                                                value="@cheep.AuthorName">Unfollow
                                        </button>
                                    </form>
                                }
                            }
                        </div>

                        @cheep.Text
                        <small>&mdash; @cheep.Timestamp</small>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

</div>

@section scripts {
    <script>
        document.querySelector(".pagination-footer").style.display = "block";
        let ct = Math.ceil(@Model.CheepsCount / 32);
        if (ct === 0) {
            ct = 1;
        }

        const lastPageButton = document.querySelector(".last-page")

        lastPageButton.addEventListener("click", () => {
            document.location = "?page=" + ct;
        })
    </script>
}
